*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: url(https://user-images.githubusercontent.com/98634205/172755126-8f74da90-054b-4bd9-b71a-a778328d0ff0.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h2{
    color: whitesmoke;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1% 20%;
    margin:0;
    list-style: none;
    font-size: 2em;
}
li{
    height: 1em;
    width: 13%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2%;
    transition: background-color 500ms;
}
.active{
    color: rgba(131, 6, 156, 0.863);
}
li:hover{
    cursor: pointer;
    color: rgba(131, 6, 156, 0.863);
}
li :active{
   border-bottom: 2px solid rgba(131, 6, 156, 0.863);

}

[data-tab-content]
{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
/* .active[data-tab-target]
{
    background-color: #0c886f;
} */
p{
    color: whitesmoke;
    /* background-color: #1abc9c; */
    margin:auto;
    /* width: 50%;
    height: 70%;
    margin-top:5%; */
    padding:20% 20%;
    /* border:1px solid black; */
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.g{
    color: aliceblue;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #8529aa;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #8529aa;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}
h1{
    color: whitesmoke;
    font-size: 30px;
}

.btn-primary {
    color: white;
    background-color: #8529aa;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #8529aa;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: whitesmoke;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: whitesmoke;
    font-size: 25px;
    padding-left: 20px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: whitesmoke;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: whitesmoke;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: whitesmoke;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #920586ec;
    background-color: #eee;
    color: rgb(12, 11, 11);
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid white;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: rgb(238, 235, 235);
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
.make-payment h3{
      font-size: 25px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      animation: moving 2s infinite;
}
#pay{
    background-color: #8529aa;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    float: left;
    margin-top: -10px;
    border-radius: 10px;
    border-bottom: none;
    text-decoration: none;
    cursor: pointer;
}
#pay:hover{
    background-color: aqua;
}
@keyframes moving{
    0%{
        color: #8529aa;
    }
    50%{
        color: blue;
    }
    100%{
        color:  rgb(245, 239, 239);
    }
}
 #nav ul li a{
    background-color: transparent;
    font-size: 30px;
}
/*----------
------------------
--------------------
 */
 /* === Google Font Import - Poppins === */
